<!-- what Section -->
<section id="team" class="bg-white2">

  <div class="bg-violet head">
    <h3 class="section-heading">Nosotros</h3>
    <hr class="custom-hr">
  </div>

  <div class="decor-bottom decor-violet">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" height="100%" class="decor">
      <path stroke-width="0" d="M0 0 L0 100 L100 0"/>
    </svg>
  </div>

  <div class="container" style="padding-bottom: 50px; padding-top: 25px;">
    <div>
      <div class="col-md-8 col-md-offset-2  text-center">
        <p class="large text-muted">
          Somos una empresa Argentina del sector TICs con más de 7 años de experiencia aportando ideas y soluciones a
          proyectos con diferentes características y necesidades.
        </p>
        <p class="large text-muted">
          <b>Tecnología de Punta, Gente de Primera</b>
        </p>
      </div>
    </div>

    <div style="margin-top:50px;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row" style="margin-bottom:30px;">
            <%= render 'team_profile', profile: {name: 'Francisco Peña', img: 'fran.jpg'} %>
            <%= render 'team_profile', profile: {name: 'Juan P. La Battaglia', img: 'juan.jpg'} %>
            <%= render 'team_profile', profile: {name: 'Juan I. Hutter', img: 'juani.jpg'} %>

            <%= render 'team_profile', profile: {name: 'Damian Grimberg', img: 'dami.jpg'} %>
            <%= render 'team_profile', profile: {name: 'Gaston Ambrogi', img: 'gasti.jpg'} %>
            <%= render 'team_profile', profile: {name: 'Mauro La Battaglia', img: 'mauro.jpg'} %>

            <%= render 'team_profile', profile: {name: 'Nicanor Perera', img: 'nica.jpg'} %>
            <%= render 'team_profile', profile: {name: 'Nicolás Galdámez', img: 'nico.jpg'} %>
            <%= render 'team_profile', profile: {name: 'Esteban Suarez', img: 'este.jpg'} %>
          </div>
        </div>
      </div>

    </div>
    <div style="margin-top:50px;">
      <div class="col-md-8 col-md-offset-2  text-center">
        <p class="large text-muted">
          Somos un equipo multidisciplinario formado por profesionales y estudiantes del área Informática y
          Administración con gran capacidad y experiencia en la implementación de soluciones tecnológicas.
        </p>
      </div>
    </div>

  </div>
</section>

