
<!-- what Section -->
<section id="works" class="bg-pink">

	<div class="bg-white head">





		<h3 class="section-heading">Portfolio</h3>
		<hr class="custom-hr">


	</div>

  <div class="decor-bottom decor-white">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" height="100%" class="decor"><path stroke-width="0" d="M0 0 L100 100 L100 0 "/></svg>
  </div>

  <div class="container" style="padding-bottom: 50px; padding-top: 25px;">







    <div class="row">

      <div class="col-xs-10 col-xs-offset-1">

        <div class="row">

         <%= render 'work_item', work: {img: 'work.png', kind: 'Sistema', legend: 'Trabajo 1'} %>
         <%= render 'work_item', work: {img: 'work.png', kind: 'Sistema', legend: 'Trabajo 2'} %>
         <%= render 'work_item', work: {img: 'work.png', kind: 'Sistema', legend: 'Trabajo 3'} %>

        </div>

      </div>


    </div>






    <div class="row">

      <div class="col-xs-10 col-xs-offset-1">

        <div class="row">

            <%= render 'work_item', work: {img: 'work.png', kind: 'Sistema', legend: 'Trabajo 4'} %>
           <%= render 'work_item', work: {img: 'work.png', kind: 'Sistema', legend: 'Trabajo 5'} %>
           <%= render 'work_item', work: {img: 'work.png', kind: 'Sistema', legend: 'Trabajo 6'} %>


        </div>

      </div>


    </div>









  </div>



  <img alt="Como lo hacemos"  src="/assets/frontend/banda2.jpg" style="width:100%;" >



</section>

