
<div class="row hidden-xs">
    <div class="col-md-12">


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          

          <!-- Indicators -->
          <ol class="carousel-indicators col-md-3">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active" data-toggle="tooltip" data-placement="left" data-html="true" data-title="<h2>SNAPPLERLIVE</h2><p>este es el parrafo principal, lero lero lero lero lero<p>">
            	<%= image_tag('logo_snappler_live.png') %>
            </li>

            <li data-target="#carousel-example-generic" data-slide-to="1" class="" data-toggle="tooltip" data-placement="left" data-html="true" data-title="<h2>SEDOM</h2><p>este es el parrafo principal, lero lero lero lero lero<p>">
            	<%= image_tag('logo_sedom.png') %>
            </li>

            <li data-target="#carousel-example-generic" data-slide-to="2" class="" data-toggle="tooltip" data-placement="left" data-html="true" data-title="<h2>Este es el titulo</h2><p>este es el parrafo principal, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. <p>">
            	<%= image_tag('logo_tu_inflacion.png') %>
            </li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            
            <div class="item active">
              <%= image_tag('slider-1.jpg') %>
            </div>

            <div class="item">
              <%= image_tag('slider-1.jpg') %>
            </div>

            <div class="item">
              <%= image_tag('slider-1.jpg') %>
            </div>
            
          </div>
        </div>
    </div>
</div>