<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= t :brand %></title>
  <%= stylesheet_link_tag    'backend', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'backend', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>    
</head>
<body>




<%= render 'backend/navigation' %>




  <div id="main" class="container-fluid">
    <div class="row">

      <%= render 'backend/side' if user_signed_in? %>

      <section class="<%= (user_signed_in?)? 'col-md-9' : 'col-md-12' %>">
        <%= yield %>
      </section>


    </div>
  </div>
</body>
</html>