<!DOCTYPE html>
<html>
<head>
  <title>Snappler</title>
  <%= stylesheet_link_tag    'static_pages', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'static_pages', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>
	<%= render 'menu' %>
	<div class="container">
		<%= yield %>
	</div>
	<%= render 'footer' %>
</body>
</html>
