<!DOCTYPE html>
<html lang="es">
<head>
	<title><%= t :brand %></title>
	<%= stylesheet_link_tag    'frontend', media: 'all' %>
	<%= csrf_meta_tags %>  
	<%= javascript_include_tag 'frontend' %>
  <%= favicon_link_tag 'favicon.ico' %>

	<!-- Custom Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

	<meta property="og:image" content="<%= image_url "frontend/logos/snappler-logo-blue.png" %>" />
	<meta property="og:title" content="Snappler" />
	<meta property="og:description" content="Soluciones Tecnológicas" />
	

</head>
<body>

	<%= yield %>



</body>
</html>